* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 1000px;
  margin: auto;
  background-color: #121212;
}

.container {
  margin-top: 200px;
  padding: 20px;
  border-radius: 50px;
  border-style: solid;
  border-color: #ededed;
  border-width: 3px;
  color: #ededed;
}

.container2{
  margin-top: 200px;
  color: #ededed;
}

.quoteContainer {
  font-size: 30px;
  text-align: center;
  padding-top: 60px;
}

#bioContainer {
  font-size: 30px;
  text-align: center;
  padding-top: 60px;
}

.linkContainer {
  max-width: 90px;
  margin: auto;
  padding-top: 100px;
  text-decoration: underline;
  font-size: 15px;
  color: #ededed;
}

h1 {
  font-size: 100px;
  text-align: center;
}

h2 {
  font-size: 60px;
  text-align: center;
}

#buttonContainer {
  padding-top: 50px;
  max-width: 120px;
  margin: auto;
}

button {
  padding: 3px;
  font-size: 15px;
  color: #121212;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
